<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898790971434-oaotn5n3p40ukqh5656t20kfh635n0d8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898790971434-oaotn5n3p40ukqh5656t20kfh635n0d8</string>
	<key>API_KEY</key>
	<string>AIzaSyBeinkxydpZXoopYtvmAYiNeM-2eNGOWJI</string>
	<key>GCM_SENDER_ID</key>
	<string>898790971434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sp.savepoint</string>
	<key>PROJECT_ID</key>
	<string>savepoint-app</string>
	<key>STORAGE_BUCKET</key>
	<string>savepoint-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898790971434:ios:1dbd95a4046a48e1e48b53</string>
	<key>DATABASE_URL</key>
	<string>https://savepoint-app.firebaseio.com</string>
</dict>
</plist>